@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* google fonts  */
.muicksand-fonts {
  font-family: Quicksand;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0px auto;
}
/* CSS color Variables */
:root {
  --yellow: rgb(254, 163, 1);
  --blue-bolt: rgb(1, 172, 253);
  --dark-turquoise: rgb(5, 212, 223);
  --majorelle-blue: rgb(93, 88, 239);
}

/* common style start  */
.display-flex {
  display: flex;
}
/* common style end  */

/* header style start  */
/* nav-section  style start  */
.nav-section {
  width: 1160px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
}
.nav-log {
  align-items: center;
}
.nav-title {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  margin-left: 10px;
}
.list-items {
  list-style: none;
  gap: 32px;
}
.list-link {
  text-decoration: none;
}
.home-style {
  color: var(--yellow);
  font-size: 20px;
  font-weight: 700;
}
.about-style {
  color: var(--blue-bolt);
  font-size: 20px;
  font-weight: 500;
}
.facilites-style {
  color: var(--dark-turquoise);
  font-size: 20px;
  font-weight: 500;
}
.admisson-style {
  color: var(--majorelle-blue);
  font-size: 20px;
  font-weight: 500;
}
.contact-btn {
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 190px;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.contact-btn:hover {
  background: rgb(112, 82, 29);
}
.btn-material-icons {
  display: none;
}
.hr {
  display: none;
}
/* nav-section  style end  */
/* banner-section style start  */
.banner-section {
  width: 1160px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  width: 550px;
  font-size: 56px;
  font-weight: 700;
}
.empowering {
  color: rgb(254, 163, 1);
}
.students {
  color: rgb(17, 17, 17);
}
.towards {
  color: rgb(1, 172, 253);
}
.banner-description {
  width: 550px;
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0px 30px 0px;
}
.banner-btn {
  width: 200px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
}
.banner-btn:hover {
  background: rgb(70, 54, 54);
}
/* banner-section style end  */

/* header style end  */

/* main-section style start  */
/* curriculum-section style start  */
.curriculum-section {
  width: 100%;
  background-image: url("../assets/bg.png");
}
.standard-curriculum-title {
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  padding: 50px;
}

.standard-curriculum-cart {
  width: 1160px;
  margin: 20px auto;
  justify-content: space-between;
  gap: 30px;
}
.curriculum-cart1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.curriculum-cart2 {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.curriculum-cart3 {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.curriculum-cat-title {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  padding: 20px;
}
.curriculum-cart-description {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  padding-bottom: 20px;
}
.curriculum-cart-btn {
  font-size: 15.09px;
  font-weight: 700;
  border: none;
}
.cart-btn-link1 {
  color: rgb(100, 200, 255);
  text-decoration: none;
}
.cart-btn-link2 {
  color: rgb(240, 170, 0);
  text-decoration: none;
}
.cart-btn-link3 {
  color: rgb(135, 0, 255);
  text-decoration: none;
}
.cart-btn-link1:hover {
  text-decoration: underline;
}
.cart-btn-link2:hover {
  text-decoration: underline;
}
.cart-btn-link3:hover {
  text-decoration: underline;
}
.curriculum-direction-btn {
  text-align: center;
  margin: 60px;
}
.curriculum-right-btn {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: rgb(254, 163, 1);
  padding: 15px;
  margin-right: 5px;
  border: none;
}
.curriculum-left-btn {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: rgb(254, 163, 1);
  padding: 15px;
  margin-left: 5px;
  border: none;
}
/* curriculum-section style end  */
/* stories-section style start  */
.stories-section {
  width: 100%;
  background: url("../assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.stories-title {
  margin: 60px auto;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
}
.stories-content {
  width: 1160px;
  margin: 0px auto;
  justify-content: space-between;
  gap: 20px;
}
.stories-right-content {
  width: 540px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  justify-content: center;
}
.stories-right-content-img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.stories-right-content-btn {
  position: relative;
  top: -1.5rem;
  left: 2rem;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  padding: 10px;
  border: none;
}
.stories-right-content-title {
  width: 400px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0px 10px 40px;
}
.stories-right-content-description {
  width: 430px;
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  margin: 30px 0px 30px 40px;
}
.stories-left-content {
  width: 660px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.stories-left-content-cart {
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.stories-left-content-img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  background: rgb(255, 255, 255);
}
.stories-left-content-btn {
  position: relative;
  top: -1.5rem;
  left: 2rem;
  border-radius: 47.93px;
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  padding: 7px;
  border: none;
}
.stories-left-content-btn-green {
  background: rgb(149, 178, 38);
  color: rgb(255, 255, 255);
}
.stories-left-content-btn-blue {
  background: rgb(93, 88, 240);
  color: rgb(255, 255, 255);
}

.stories-left-content-description {
  width: 180px;
  color: rgb(0, 0, 0);
  font-size: 15.34px;
  font-weight: 700;
  margin: 0px 0px 30px 30px;
}
.stories-section-botton-btn {
  text-align: center;
  padding: 60px;
}
.stories-section-btn {
  width: 200px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
}
.stories-section-btn:hover {
  background: rgb(95, 89, 89);
}
/* stories-section style end  */
/* main-section style end  */
/* footer-secttion style start  */
.footer-secttion {
  width: 100%;
  background: rgb(1, 172, 253);
}
.footer-content {
  width: 1070px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
}
.footer-left-logo-img {
  width: 80px;
  height: 80px;
  background: rgb(180, 173, 171);
}
.footer-left-title {
  color: rgb(255, 255, 255);
  font-size: 2.1rem;
  font-weight: 700;
  margin-left: 5px;
}
.footer-left-description {
  width: 400px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.footer-center-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-center-item {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  list-style: none;
}
.footer-center-item-link {
  text-decoration: none;
}
.footer-right-title {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-right-title-social-icon {
  padding: 5px;
}
/* footer-secttion style end  */
/* media query start  */
@media screen and (max-width: 576px) {
  /* nav responsive  */
  .nav-section {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-top: 20px;
  }
  .list-items,
  .nav-title,
  .contact-btn {
    display: none;
  }
  .nav-log {
    margin-left: 20px;
  }
  .btn-material-icons {
    display: block;
    margin-right: 20px;
  }
  .hr {
    display: block;
    background-color: var(--yellow);
  }
  /* banner responsive  */
  .banner-section {
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-img {
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .banner-img-hero {
    width: 360px;
  }
  .banner-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
  }
  .banner-description {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .banner-btn {
    width: 200px;
  }
  /* curriculum-section responsive  */
  .standard-curriculum-title {
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
  }
  .standard-curriculum-cart {
    width: 357px;
    flex-direction: column;
  }
  .curriculum-direction-btn {
    display: none;
  }
  /* stories-section responsive  */
  .stories-content {
    max-width: 100%;
  }
  .stories-right-content {
    display: none;
  }
  .stories-left-content {
    width: 576px;
    display: grid;
    grid-template-columns: repeat(2, 1rf);
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
  }
  .stories-left-content-cart {
    max-width: 260px;
  }
  .stories-left-content-img {
    width: 100%;
  }
  .stories-left-content-description {
    margin: 0px;
    padding: 2px;
    text-align: center;
    overflow: hidden;
  }
  .stories-section-btn {
    width: 100%;
  }
  /* footer section responsive  */
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .footer-center {
    margin-top: 20px;
  }
  .footer-right {
    margin-top: 20px;
  }

  .footer-left-description {
    width: 100%;
  }
}
